@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
  margin: 0 auto;
  font-family: Arial Black, Gadget, sans-serif;
}
a {
  text-decoration: none;
  color: #832924;
}
a:hover {
  color: #f6b95f;
}
a:visted {
  color: #592f2f;
}
table td {
  font-size: 40px;
}
table tr:hover {
  color: transparent;
}
table td audio {
  padding: 30px;
}
.audio:hover {
  color: #f6b95f;
}
.date {
  font-size: 20px;
}
.homePage {
  background: #2a2f2e;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.header {
  background: #592f2f;
  color: #f6b95f;
  text-align: center;
  margin: 0px;
  padding: 5;
  float: left;
  width: 100%;
  height: 80px;
}
.nav {
  background: #2a2f2e;
  margin: 0px;
  padding: 5;
  float: left;
  width: 100%;
  height: 60px;
  text-align: center;
}
.content {
  background: #8c948a;
  color: #832924;
  font-size: 50px;
  margin: 0px;
  width: 100%;
  text-align: center;
}
.header {
  text-align: center;
}
.img {
  padding: 30px;
  display: inline;
}
.img:hover {
  width: 100%;
  transition: transform 0.5s ease;
}
p.about {
  font-size: 18px;
  padding: 10px;
}
.footer {
  background: #592f2f;
  color: #f6b95f;
  margin: 0px;
  float: left;
  width: 100%;
  height: 50px;
  text-align: center;
}
